<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MulThread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2C0450D1E69AE8700E6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C045261E69AE8800E6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C045311E69AE8800E6A3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
